
#wrapper {
    display: none;
    position: sticky;
    bottom: 0;
    background: var(--main-background);
    z-index: 1;
    height: 3rem;
    min-height: 3rem;
}

@media (max-width: 550px) {
    #wrapper {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }
}

.sidebarButton {
    flex: 1 1;
    border: none;
    background-color: var(--highlight-background);
    color: white;
}

#sidebarHead {
    background-color: var(--main-background);
    text-align: center;
    margin-bottom: 0.5rem;
    height: 2rem;
    box-shadow: rgba(71, 71, 71, 0.2) 0px 4px 8px 0px;
    background-color: var(--highlight-background);
    color: white;
    padding: 0.4rem;
}

#sidebarBody {
    position: sticky;
    top: 2rem;
}
@keyframes slide {
    from {bottom: -8rem;}
    to {bottom: 3rem;}
}

#draggablesBody {
    z-index: -1;
    overflow: hidden;
    bottom: 3rem;
    position: absolute;
    background-color: white;
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin-left: 0.1rem;
    animation-name: slide;
    animation-duration: 0.5s;
    
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar_element {
    height: 2rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 0.7rem;
    background-color: var(--main-background);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    cursor: grab;
    padding-top: 0.4rem;
}