#head_parent {
    z-index: 3;
    position: relative;
    width: 100%;
}

.head_button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: rgb(251, 255, 255);
    margin-left: 0.5rem;
    height: 1.6rem;
}

.head_button,
.head_item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#head {
    background: linear-gradient(0deg, rgb(25 36 54), rgb(25 37 55) 50%, rgb(25 36 55));
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 1.8rem;
}

#logo_anchor {
    width: 100%;
    height: 100%;
    display: block;
}

#logo {
    background-image: url("../../public/resources/g2.svg");
    width: 7rem;
    height: auto;
    background-size: cover;
    margin-bottom: 0.5rem;
    transform: translateX(-0.5rem);
}

#use_app_button {
    margin-left: auto;
    background-color: var(--highlight-background);
    padding: 0 0.6rem 0 0.6rem;
    border-radius: 100px;
}

/*#signin_button{
    color: rgb(255, 163, 130);
    font-size:1rem;
    height: 1.5rem;
    border: 2px orangered solid;
    padding: 0 0.6rem 0 0.6rem;
    border-radius: 100px;
}*/

#signin_button {
    margin-left: auto;
    background-color: var(--highlight-background);
    padding: 0 1rem 0 1rem;
    border-radius: 100px;
}

#signout_button {
    margin-left: auto;
    margin-right: 1rem;
}

#new_post_button {
    background-image: url("../../public/resources/plus.svg");
    width: 1.3rem;
    height: auto;
}


@media (min-width: 550px) {
    #head {
        height: 2.5rem;
        padding: 0rem 1rem 0 1rem;
    }

    #logo {
        width: 9rem;
        transform: translateX(-2rem);
        margin-bottom: 0.5rem;
    }

    .head_button {
        margin-top: 0.2rem;
        height: 2rem;
        width: 5rem;
    }

    .head_item {
        margin-left: 0.7rem;
    }

    #head_search {
        display: block;
        height: 1.6rem;
        padding-left: 1rem;
        border-radius: 50px;
        background-color: rgb(71, 78, 93);
        color: white;
        width: 40%;
        margin: auto;
        border: none;
    }
}

/*

.Head_item {
    flex: 1;
    border: 0.1rem red solid;
}

*/