#wrapper {
  grid-area: f;
  height: 100%;
  position: relative;
}

@media (max-width: 550px) {
  #wrapper {
    display: none;
  }

}

#sidebarHead {
  background-color: var(--main-background);
  text-align: center;
  margin-bottom: 0.5rem;
  height: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top: 0.4rem;
  background-color: var(--highlight-background);
  color: white;
}

#sidebarBody {
  position: sticky;
  top: 2rem;
}

#draggablesBody {
  overflow: hidden;
  top: 2rem;
  background-color: white;
  padding-bottom: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar_element {
  height: 2rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 0.7rem;
  background-color: var(--main-background);
  width: 100%;
  cursor: grab;
  padding-top: 0.4rem;
  box-shadow: #c3c3c3 0px 1px 4px 0px;
}

#saveWrapper {
  margin-top: 0.2rem;
  background-color: white;
  border-radius: 1rem;
  margin-left: 1rem;
  display: flex;
  height: 3rem;
  overflow: hidden;

  box-shadow: #c3c3c3 0px 1px 4px 0px;
}

.sidebarButton {
  cursor: pointer;
  background-color: var(--highlight-background);
  width: 50%;
  min-width: 7rem;
  border: none;
  color: white;
}


@media (max-width: 750px) {
  #saveBtn {
    width: 60%;
  }
  .sidebarButton{
    
  min-width: 5rem;
  font-size: x-small;
  }
}

#saveBtn {
  border-right: solid 0.1rem rgba(0, 231, 255, 0.2);
}

#saveBtn:hover,
#saveBtn:focus {
  background-color: rgb(0, 221, 255)
}


#deleteBtn:hover,
#deleteBtn:focus {
  background-color: rgb(255, 78, 78);
  color: white;
}

.liveCheckWrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 1rem;
  box-shadow: #c3c3c3 0px 1px 4px 0px;
  padding: 0.5rem;
  margin-left: 1rem;
  align-content: center;
}
.mobileDisplay{
  display: none;
}
@media (max-width: 550px) {
.mobileDisplay{
  display: block;
  grid-area: l;
  bottom: 0;
  position: relative;
  margin-top: auto;
  transform: translateY(3rem);
  max-width: 12rem;
}

}
.checkboxLabel {
  margin-left: 0.3rem;
  font-size: large;
}
.liveLink{
  margin-left: 1rem;
}