@keyframes grow {
    from {
        max-height: 0;
        min-height: 0;
    }

    to {
        min-height: 8rem;
        max-height: 80rem;
    }
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 50%;
    }
}


.formElement {
    padding: var(--boundmargin) 0;
    position: relative;
   border: none;
}

.formElementBody {
    min-height: 8rem;
    border: 0.1rem solid rgb(202, 202, 202);
    position: relative;
    animation-name: grow;
    animation-duration: 0.3s;
    z-index: 1;
    position: relative;
}

.lowerHighlight::after, .upperHighlight::before{
    content: "";
    z-index: 3;
    display: block;
    position: absolute;
    background-color: rgb(126, 126, 126);
    width: calc(100% - 1rem);
    height: 0.3rem;
    border-radius: 5rem;
    animation-name: opacity;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
.formElement.lowerHighlight::after {
    bottom: 0;
    transform: translateY(calc(var(--boundmargin) / 2)) translateX(0.5rem);
    
}

.formElement.upperHighlight::before {
    transform: translate(0.5rem, calc(var(--boundmargin) / -1));
}


.subElementsWrapper {
    display: flex;
    flex-direction: column;
}

.subElementsBody{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.dragDiv{
    text-align: center;
    cursor:grab;
    user-select: none;
}